* {
    box-sizing: border-box;
    margin: 0;
}


.carousel {
    position: relative;
    height: 600px;
    overflow: hidden;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.before {
    transform: translateX(100%);
}

.current {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 2s;
}

.after {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 2s;
}

#dots {
    position: absolute;
    top: 500px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid pink 3px;
    margin: 10px;
    background-color: #fcf1ef;
}

.dot.on {
    background-color: pink;
}

.dot:hover {
    cursor: pointer;
}